In [1]:
# Dependencie
import pandas as pd

In [3]:
# Load in file
movie_file_to_load = "Resources/movie_scores.csv"

In [4]:
# Read and display the CSV with Pandas
movie_file_df = pd.read_csv(movie_file_to_load)

In [4]:
# List all the columns in the table

Index(['FILM', 'RottenTomatoes', 'RottenTomatoes_User', 'Metacritic',
       'Metacritic_User', 'IMDB', 'Fandango_Stars', 'Fandango_Ratingvalue',
       'RT_norm', 'RT_user_norm', 'Metacritic_norm', 'Metacritic_user_nom',
       'IMDB_norm', 'RT_norm_round', 'RT_user_norm_round',
       'Metacritic_norm_round', 'Metacritic_user_norm_round',
       'IMDB_norm_round', 'Metacritic_user_vote_count', 'IMDB_user_vote_count',
       'Fandango_votes', 'Fandango_Difference'],
      dtype='object')

In [5]:
# We only want IMDb data, so create a new table that takes the Film and all the columns relating to IMDB

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
0,Avengers: Age of Ultron (2015),7.8,3.90,4.0,271107
1,Cinderella (2015),7.1,3.55,3.5,65709
2,Ant-Man (2015),7.8,3.90,4.0,103660
3,Do You Believe? (2015),5.4,2.70,2.5,3136
4,Hot Tub Time Machine 2 (2015),5.1,2.55,2.5,19560

In [6]:
# We only like good movies, so find those that scored over 7, and ignore the norm rating

                             FILM  IMDB  IMDB_user_vote_count
0  Avengers: Age of Ultron (2015)   7.8                271107
1               Cinderella (2015)   7.1                 65709
2                  Ant-Man (2015)   7.8                103660
5        The Water Diviner (2015)   7.2                 39373
8    Shaun the Sheep Movie (2015)   7.4                 12227

In [7]:
# Find less popular movies--i.e., those with fewer than 20K votes

                                 FILM  IMDB  IMDB_user_vote_count
8        Shaun the Sheep Movie (2015)   7.4                 12227
9                 Love & Mercy (2015)   7.8                  5367
10  Far From The Madding Crowd (2015)   7.2                 12129
20              McFarland, USA (2015)   7.5                 13769
29         The End of the Tour (2015)   7.9                  1320